<!-- <h1>{{ i }}</h1>
<h1>{{ j }}</h1> -->
<div *ngIf="finished; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock style="background-color: transparent;">
  <div class="m-4">
    <h3>اهم ثلاثة قيم لك هم...</h3>
    <h2>1. {{ _values[0].title }}</h2>
    <h2>2. {{ _values[1].title }}</h2>
    <h2>3. {{ _values[2].title }}</h2>
  </div>
</ng-template>

<ng-template #elseBlock style="background-color: transparent;">
  <div>
    <div class="card m-4 border-5" style="width: 18rem;">
      <!-- _valueOption1 -->
      <div
        class="card-body text-white m-1 rounded-5"
        style="background-color: #00ADB5;"
      >
        <h5 class="card-ti tle">
          اسم القيمة: {{ _valueOption1.title | uppercase }}
        </h5>
        <!-- <h6 class="card-subtitle mb-2 text-dark">id: [{{ _valueOption1.id }}]</h6> -->
      </div>
      <button type="button" class="btn btn-success m-1" (click)="choose(1)">
        اختر
      </button>
    </div>

    <div class="card m-4 border-5" style="width: 18rem; ">
      <!-- _valueOption2 -->
      <div
        class="card-body text-white m-1 rounded-5"
        style="background-color: #00ADB5;"
      >
        <h5 class="card-ti tle">
          اسم القيمة: {{ _valueOption2.title | uppercase }}
        </h5>
        <!-- <h6 class="card-subtitle mb-2 text-dark">id: [{{ _valueOption2.id }}]</h6> -->
      </div>
      <button type="button" class="btn btn-success m-1" (click)="choose(2)">
        اختر
      </button>
    </div>
  </div>
</ng-template>
