<div class="m-4">
  <div>
    <input
      type="value"
      class="form-control"
      placeholder="ادخل قيمة شخصية"
      [(ngModel)]="_newValue.title"
    />
    <p class="form-text text-muted">اكتب قيمة شخصية مهمة لك</p>
    <h3>اضف {{ maxValuesLength }} قيم شخصية</h3>
    <h3>تبقي {{ maxValuesLength - _values.length }} قيم شخصية</h3>
  </div>

  <button type="submit" class="btn btn-primary" (click)="onAdd()">
    أضف القيمة الشخصية
  </button>
</div>

<li *ngFor="let value of _values">
  <div class="card m-4 border-5" style="width: 18rem;">
    <div class="card-body bg-primary text-white m-1 rounded-5">
      <h5 class="card-ti tle">اسم القيمة: {{ value.title | uppercase }}</h5>
      <!-- <h6 class="card-subtitle mb-2 text-dark">id: [{{ value.id }}]</h6> -->
    </div>
    <button
      type="button"
      class="btn btn-danger m-1"
      (click)="removeValue(value)"
    >
      إزالة
    </button>
  </div>
</li>
